@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}
.nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;  
}
.nav-items li {
  padding: 0px 10px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.imgLogo {
  width: 70px;
  height: 70px;
}
footer {
  height: 48px;
  background-color: #21222A;
  display: flex;
  align-items: center;
  color: white;
}
.mainContent {
  height: calc(100vh - 140px);
  padding: 0px 20px;
}